.CGZyJh7cZJ {
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    margin-left: -1px;
}

.ECQK1e1li6 {
    padding: 40px 10%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.AYalw66W7I {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nle5YmBkxq {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ff6767;
    width: fit-content;
    border-radius: 5px;
    background-color: #ec9191;
    margin-right: 10px;
}

.rRFPPYwKGi {
    margin-top: 10px;
}

.Vhy1FkMVAr {
    font-weight: bold;
    font-size: 18px;
}

.rePO5PHXgX {
    width: 100%;
    text-align: end;
}

.W4G0j2Q1qh {
    font-size: 30px;
    padding: 10px 50px;
    cursor: pointer;
}